<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/tailwind.css">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="icon" href="/assets/botlink-round.svg">
<title>Bot Link - Added Bot</title>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<% if(!user){ %>
    <% return redirect("/login") %>
        <% } %>
            <div class="text-center text-black main-page">
                <div class="pb-12 top">
                    <div name="navigation" class="navigation">
                        <a href="/"><img src="/assets/botlink.svg" class="h-full rounded-full"></a>
                        <div class="nav-links text-white font-semibold">
                            <a href="/invite" target="_blank" class="a cursor-pointer">Invite Bot</a><a
                                href="/dashboard" class="a cursor-pointer">Dashboard</a><a href="/support"
                                target="_blank" class="a cursor-pointer">Support</a>
                            <% if(user){ %> <a href="/logout" class="a cursor-pointer">Logout</a>
                                <%}%>
                                    <% if(!user){ %> <a href="/login" class="a cursor-pointer">Login</a>
                                        <%}%>
                        </div>
                    </div>
                    <div id="main" name="main" class="mt-10 text-white">
                        <center><img style="border-radius:50%;" src="<%-realBot.displayAvatarURL({ size: 256 })%>"></center>
                        <h1 class="text-6xl font-bold align-middle white">Created <%-realBot.username%>!</h1>
                        <h1 class="text-6xl opacity-20 transform -translate-y-5 font-bold mb-2 align-middle">
                            <!-- <span class="opacity-0"></span> -->
                        </h1>
                        <% createBot().then(e => {
                            this.errMessage = e
                        }) %>
                        <p class="font-normal text-lg white">The bot has been created for <%-guild.name%></p>
                        <p class="font-normal text-lg" style="color: #ed4245;" id="changeThis" ></p>
                        <script>
                            setTimeout(() => {
                                document.getElementById("changeThis").innerText = "<%- this.errMessage %>"
                            }, 700);
                        </script>
                        <br><br>
                        <a href="/dashboard"
                            class="block bg-white text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto mt-16 px-2 py-4 text-xl font-sans w-60">Go back to dashboard
                    </a>
                        <br><br><br>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <br><br><br>